 <!DOCTYPE html>
<html>
<head>
 <title>Three</title>
</head>
<body>
<svg width="100%" height="300">
  <rect width="100%" height="100%" fill = "lightseagreen" />
  <rect x="46%" y="200" width="8%" height="100" fill="tomato" />
  <circle cx="200" cy="150" r ="50" fill="steelblue"></circle>
  <polygon points="100,200 53,150 270,150 240,200 " fill="wheat"></polygon>
  
</svg>
<nav class="menue"> 
  <ul>
  <li>
  <a href="https://ethannniu.github.io/Assignment-5/">Index</a>
  </li>
  <li>
    <a href="https://ethannniu.github.io/Assignment-5/views/two.html">Two</a>
  </li>
  <li>
    <a href="https://ethannniu.github.io/Assignment-5/views/three.html">Three</a>
  </li>
  
  </ul>
</nav>
<h1>
  SVG Animation is easy!f
</h1>
<img src="moth.svg" alt="circle traversing perimeter of square" width="500" height="500">

</body>
</html> 
