
<svg width="100%" height="300">
  <rect width="100%" height="100%" fill = "lightseagreen" />
  <rect x="46%" y="200" width="8%" height="100" fill="tomato" />
  <circle cx="200" cy="150" r ="50" fill="steelblue"></circle>
  <polygon points="100,200 53,150 270,150 240,200 " fill="wheat"></polygon>
  
</svg>
<nav class="menue"> 
  <ul>
  <li>
  <a href="https://github.com/ethannniu/Assignment-5/blob/main/index.html">Index</a>
  </li>
  <li>
    <a href="https://github.com/ethannniu/Assignment-5/blob/main/views/two.html">Two</a>
  </li>
  <li>
    <a href="https://github.com/ethannniu/Assignment-5/blob/main/views/three.html">Three</a>
  </li>
  
  </ul>
</nav>
<h1>
  Favorite Coding Resources
</h1>
<table border="1">
  <tr>
    <th>Resource</th>
    <th>Link</th>
  </tr>
  
  <tr>
  <td>Stack Overflow</td>
  <td><a href="https://stackoverflow.com/">https://stackoverflow.com/</td>
  </tr>

  <tr>
    <td>
      FreeCodeCamp  </td>
    <td><a href="https://www.freecodecamp.org/"> https://www.freecodecamp.org/</a></td>
  </tr>
  
    <tr>
    <td>
      Codecademy  </td>
    <td><a href="https://www.codecademy.com/">https://www.codecademy.com/</a></td>
  </tr>
</table>
